In [1]:
import pandas as pd

In [2]:
ten_year_treasury_yield = pd.read_csv('data/10-Year Treasury Yield.csv')
dow_jones = pd.read_csv('data/Dow Jones Industrial Average.csv')
nasdaq = pd.read_csv('data/NASDAQ Composite.csv')
oil_index = pd.read_csv('data/NYSE Arca Oil Index.csv')
nyse_composite = pd.read_csv('data/NYSE Composite.csv')
phlx_semiconductor_index = pd.read_csv('data/PHLX Semiconductor Index.csv')
russel_2000 = pd.read_csv('data/Russell 2000.csv')
sp_500 = pd.read_csv('data/S&P 500.csv')

# 10-Year Treasury Yield

In [3]:
ten_year_treasury_yield.tail()

,Price,Close,High,Low,Open,Volume
15956,2025-10-06,4.1620001792907715,4.165999889373779,4.132999897003174,4.1620001792907715,0
15957,2025-10-07,4.126999855041504,4.171000003814697,4.11299991607666,4.164000034332275,0
15958,2025-10-08,4.129000186920166,4.136000156402588,4.0960001945495605,4.104000091552734,0
15959,2025-10-09,4.1479997634887695,4.1519999504089355,4.126999855041504,4.132999897003174,0
15960,2025-10-10,4.054999828338623,4.105000019073486,4.052999973297119,4.0980000495910645,0

In [4]:
ten_year_treasury_yield[ten_year_treasury_yield['Volume'] != 0]

,Price,Close,High,Low,Open,Volume
0,Ticker,^TNX,^TNX,^TNX,^TNX,^TNX
1,Date,NaN,NaN,NaN,NaN,NaN
2,1962-01-02,4.059999942779541,4.059999942779541,4.059999942779541,4.059999942779541,0
3,1962-01-03,4.03000020980835,4.03000020980835,4.03000020980835,4.03000020980835,0
4,1962-01-04,3.990000009536743,3.990000009536743,3.990000009536743,3.990000009536743,0
...,...,...,...,...,...,...
15956,2025-10-06,4.1620001792907715,4.165999889373779,4.132999897003174,4.1620001792907715,0
15957,2025-10-07,4.126999855041504,4.171000003814697,4.11299991607666,4.164000034332275,0
15958,2025-10-08,4.129000186920166,4.136000156402588,4.0960001945495605,4.104000091552734,0
15959,2025-10-09,4.1479997634887695,4.1519999504089355,4.126999855041504,4.132999897003174,0
15960,2025-10-10,4.054999828338623,4.105000019073486,4.052999973297119,4.0980000495910645,0

In [5]:
ten_year_treasury_yield.describe()

,Price,Close,High,Low,Open,Volume
count,15961,15960,15960,15960,15960,15960
unique,15961,5131,5109,5122,5144,13
top,Ticker,4.199999809265137,4.190000057220459,4.199999809265137,4.190000057220459,0
freq,1,79,80,81,79,15917

In [6]:
ten_year_treasury_yield.dtypes

Price     object
Close     object
High      object
Low       object
Open      object
Volume    object
dtype: object

In [7]:
numeric_cols = ["Open", "High", "Low", "Close", "Volume"]
ten_year_treasury_yield[numeric_cols] = ten_year_treasury_yield[numeric_cols].apply(pd.to_numeric, errors='coerce')

In [8]:
ten_year_treasury_yield.dtypes

Price      object
Close     float64
High      float64
Low       float64
Open      float64
Volume    float64
dtype: object

In [9]:
ten_year_treasury_yield.rename(columns={'Price': 'Date'}, inplace=True)

In [10]:
ten_year_treasury_yield = ten_year_treasury_yield.iloc[2:]

In [11]:
ten_year_treasury_yield.tail()

             Date  Close   High    Low   Open  Volume
15956  2025-10-06  4.162  4.166  4.133  4.162     0.0
15957  2025-10-07  4.127  4.171  4.113  4.164     0.0
15958  2025-10-08  4.129  4.136  4.096  4.104     0.0
15959  2025-10-09  4.148  4.152  4.127  4.133     0.0
15960  2025-10-10  4.055  4.105  4.053  4.098     0.0

In [12]:
ten_year_treasury_yield['Date'] = pd.to_datetime(ten_year_treasury_yield['Date'])

In [13]:
ten_year_treasury_yield.tail()

            Date  Close   High    Low   Open  Volume
15956 2025-10-06  4.162  4.166  4.133  4.162     0.0
15957 2025-10-07  4.127  4.171  4.113  4.164     0.0
15958 2025-10-08  4.129  4.136  4.096  4.104     0.0
15959 2025-10-09  4.148  4.152  4.127  4.133     0.0
15960 2025-10-10  4.055  4.105  4.053  4.098     0.0

In [14]:
ten_year_treasury_yield.dtypes

Date      datetime64[ns]
Close            float64
High             float64
Low              float64
Open             float64
Volume           float64
dtype: object

# Dow Jones

In [15]:
dow_jones.tail()

,Price,Close,High,Low,Open,Volume
8501,2025-10-03,46758.28125,47049.640625,46566.87109375,46583.94921875,425050000
8502,2025-10-06,46694.96875,46846.44921875,46426.9609375,46776.0390625,500000000
8503,2025-10-07,46602.98046875,46868.48828125,46448.01953125,46700.8984375,411280000
8504,2025-10-08,46601.78125,46816.28125,46498.390625,46649.3203125,423510000
8505,2025-10-09,46358.421875,46684.41015625,46271.3984375,46622.30859375,493080000

In [16]:
dow_jones.dtypes

Price     object
Close     object
High      object
Low       object
Open      object
Volume    object
dtype: object

In [17]:
numeric_cols = ["Open", "High", "Low", "Close", "Volume"]
dow_jones[numeric_cols] = dow_jones[numeric_cols].apply(pd.to_numeric, errors='coerce')

dow_jones = dow_jones.iloc[2:]

dow_jones.rename(columns={'Price': 'Date'}, inplace=True)
dow_jones['Date'] = pd.to_datetime(dow_jones['Date'])

In [18]:
dow_jones.tail()

,Date,Close,High,Low,Open,Volume
8501,2025-10-03,46758.281250,47049.640625,46566.871094,46583.949219,425050000.0
8502,2025-10-06,46694.968750,46846.449219,46426.960938,46776.039062,500000000.0
8503,2025-10-07,46602.980469,46868.488281,46448.019531,46700.898438,411280000.0
8504,2025-10-08,46601.781250,46816.281250,46498.390625,46649.320312,423510000.0
8505,2025-10-09,46358.421875,46684.410156,46271.398438,46622.308594,493080000.0

In [19]:
dow_jones.dtypes

Date      datetime64[ns]
Close            float64
High             float64
Low              float64
Open             float64
Volume           float64
dtype: object

In [20]:
dow_jones.corr(numeric_only=True)

           Close      High       Low      Open    Volume
Close   1.000000  0.999937  0.999940  0.999875  0.666043
High    0.999937  1.000000  0.999904  0.999945  0.668718
Low     0.999940  0.999904  1.000000  0.999928  0.663607
Open    0.999875  0.999945  0.999928  1.000000  0.666641
Volume  0.666043  0.668718  0.663607  0.666641  1.000000

# NASDAQ

In [21]:
nasdaq.tail()

,Price,Close,High,Low,Open,Volume
13784,2025-10-06,22941.669921875,22991.720703125,22827.560546875,22894.349609375,10468830000
13785,2025-10-07,22788.359375,23006.0703125,22718.759765625,22972.369140625,10375920000
13786,2025-10-08,23043.380859375,23045.140625,22845.419921875,22852.3203125,10925520000
13787,2025-10-09,23024.630859375,23062.619140625,22899.16015625,23045.330078125,10713200000
13788,2025-10-10,22487.650390625,23119.90625,22387.474609375,23045.30078125,6609513000

In [24]:
numeric_cols = ["Open", "High", "Low", "Close", "Volume"]
nasdaq[numeric_cols] = nasdaq[numeric_cols].apply(pd.to_numeric, errors='coerce')

nasdaq = nasdaq.iloc[2:]

nasdaq.rename(columns={'Price': 'Date'}, inplace=True)
nasdaq['Date'] = pd.to_datetime(nasdaq['Date'])

# OIL

In [23]:
oil_index.tail()

,Price,Close,High,Low,Open,Volume
10612,2025-10-06,1903.4300537109375,1919.06005859375,1890.530029296875,1890.530029296875,0
10613,2025-10-07,1900.699951171875,1903.9100341796875,1865.6300048828125,1903.4300537109375,0
10614,2025-10-08,1888.9100341796875,1900.699951171875,1876.0899658203125,1900.699951171875,0
10615,2025-10-09,1869.010009765625,1911.300048828125,1866.280029296875,1888.9100341796875,0
10616,2025-10-10,1817.565673828125,1869.0101318359375,1816.3994140625,1869.010009765625,0

In [25]:
numeric_cols = ["Open", "High", "Low", "Close", "Volume"]
oil_index[numeric_cols] = oil_index[numeric_cols].apply(pd.to_numeric, errors='coerce')

oil_index = oil_index.iloc[2:]

oil_index.rename(columns={'Price': 'Date'}, inplace=True)
oil_index['Date'] = pd.to_datetime(oil_index['Date'])

# NYSE

In [26]:
nyse_composite.tail()

,Price,Close,High,Low,Open,Volume
15041,2025-10-06,21765.0,21820.2890625,21718.509765625,21725.400390625,5604460000
15042,2025-10-07,21663.099609375,21809.9609375,21618.330078125,21765.0,5546150000
15043,2025-10-08,21725.810546875,21778.33984375,21649.66015625,21663.099609375,5383130000
15044,2025-10-09,21548.259765625,21747.259765625,21512.41015625,21725.810546875,5385020000
15045,2025-10-10,21217.388671875,21603.927734375,21195.833984375,21548.30078125,0

In [27]:
numeric_cols = ["Open", "High", "Low", "Close", "Volume"]
nyse_composite[numeric_cols] = nyse_composite[numeric_cols].apply(pd.to_numeric, errors='coerce')

nyse_composite = nyse_composite.iloc[2:]

nyse_composite.rename(columns={'Price': 'Date'}, inplace=True)
nyse_composite['Date'] = pd.to_datetime(nyse_composite['Date'])

# PHLX

In [28]:
phlx_semiconductor_index.tail()

,Price,Close,High,Low,Open,Volume
7910,2025-10-03,6583.740234375,6683.43994140625,6547.39990234375,6655.06982421875,0
7911,2025-10-06,6774.06005859375,6881.91015625,6773.259765625,6852.72021484375,0
7912,2025-10-07,6634.759765625,6847.509765625,6622.6298828125,6837.669921875,0
7913,2025-10-08,6860.2001953125,6867.08984375,6624.06982421875,6625.2900390625,0
7914,2025-10-09,6840.2001953125,6869.080078125,6776.830078125,6845.39013671875,0

In [29]:
numeric_cols = ["Open", "High", "Low", "Close", "Volume"]
phlx_semiconductor_index[numeric_cols] = phlx_semiconductor_index[numeric_cols].apply(pd.to_numeric, errors='coerce')

phlx_semiconductor_index = phlx_semiconductor_index.iloc[2:]

phlx_semiconductor_index.rename(columns={'Price': 'Date'}, inplace=True)
phlx_semiconductor_index['Date'] = pd.to_datetime(nyse_composite['Date'])